<template>
  <v-app v-if="isMobileDevice">
    <GlobalAppBar/>
    <v-main>
      <v-progress-linear
          absolute
          indeterminate
          color="primary"
          v-show="$store.state.showLoading"
      />
      <router-view/>
      <v-snackbar absolute v-model="$store.state.showSnackbar">
        {{ $store.state.snackBarText }}
      </v-snackbar>
    </v-main>
  </v-app>
  <DesktopWarning v-else/>
</template>

<script lang="ts">
import Vue from "vue";
import DesktopWarning from "@/components/DesktopWarning.vue"
import Component from "vue-class-component";
import GlobalAppBar from "@/components/GlobalAppBar.vue";

@Component({
  components: {GlobalAppBar, DesktopWarning}
})
export default class App extends Vue {

  get isMobileDevice() {
    const value = this.$vuetify.breakpoint.name === "xs";
    this.$store.state.showAppBar = value;
    return value;
  }

  goToAboutPage() {
    this.$router.push("/about");
  }
}
</script>
