<template>
  <v-container>
    <v-col class="text-center">
      <p>{{ masthead }}</p>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from "vue-class-component";

@Component
export default class About extends Vue {

  private masthead = 'This webapp was created by Max Kruse.';
}
</script>

<style scoped>

</style>
