<template>
  <v-container fluid>
    <v-col>
      <v-row>
        <v-carousel
            ref="sketchCarousel"
            :dark="$vuetify.theme.dark"
            :light="!$vuetify.theme.dark"
            height="100%"
            :show-arrows="false"
            hide-delimiters
            touchless
            v-model="currentSamplerIndex">
          <v-carousel-item v-for="(sym, index) in symbols" :key="index">
            <Sampler :session-symbol-index="index"/>
          </v-carousel-item>
        </v-carousel>
      </v-row>
      <v-row align="center" justify="space-between">
        <v-btn
            :disabled="this.currentSamplerIndex === 0"
            v-on:click="showPreviousSample">
          {{$t("session.buttons.sample_prev")}}
        </v-btn>
        <div>
          {{`${currentSamplerIndex + 1}/${symbols.length}`}}
        </div>
        <v-btn
            v-show="this.currentSamplerIndex !== this.symbols.length - 1"
            :disabled="this.currentSamplerIndex === this.symbols.length - 1"
            v-on:click="showNextSample">
          {{$t("session.buttons.sample_next")}}
        </v-btn>
        <v-btn
            v-show="this.currentSamplerIndex === this.symbols.length - 1"
            v-on:click="finish">
          {{$t("session.buttons.sample_fin")}}
        </v-btn>
      </v-row>
    </v-col>
    <v-overlay :value="$store.state.session.samplerLoading">
      <v-progress-circular
          color="primary"
          indeterminate
      />
    </v-overlay>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Sampler from "@/components/Sampler.vue";
import {Action, namespace} from "vuex-class";

const sessionMod = namespace("session");

@Component({
  components: {Sampler}
})
export default class Session extends Vue {

  private currentSamplerIndex = 0;

  @Action showSnackbar: any;
  @sessionMod.Mutation setSampleLoading: any;
  @sessionMod.Mutation reset: any;
  @sessionMod.Mutation updateSampleID: any;
  @sessionMod.Action saveSketchesToFirestore: any;
  @sessionMod.Action finishSample: any;
  @sessionMod.Action isSampleFinished: any;
  @sessionMod.Getter hasUndefinedSketches: any;

  private get sampleId() {
    return this.$route.query.id
  }

  private get symbols() {
    return this.$store.state.symbols;
  }

  created() {
    this.updateSampleID(this.$route.query.id);
    this.checkSampleStatus();
  }

  async checkSampleStatus() {
    this.setSampleLoading(true);
    const res = await this.isSampleFinished();
    if (res instanceof Response && res.status === 200) {
      const isFinished = await res.json();
      if (isFinished) {
        await this.showSnackbar(this.$t("session.messages.err_finished_sample"));
        await this.$router.replace("/");
      }
    }
    this.setSampleLoading(false);
  }

  showNextSample() {
    const sample = this.$store.state.session.sketches[this.currentSamplerIndex];
    if (sample) {
      this.currentSamplerIndex++;
    }else{
      this.showSnackbar(this.$t("session.messages.err_sketch_missing"));
    }
  }

  showPreviousSample() {
    this.currentSamplerIndex--;
  }

  async finish() {
    this.setSampleLoading(true);
    if(!this.hasUndefinedSketches){
      await this.saveSketchesToFirestore();
      const res = await this.finishSample();
      if (res instanceof Response) {
        if (res.status !== 200) {
          this.showSnackbar(this.$t("session.messages.err_finishing_sample"));
        } else {
          await this.reset();
          await this.$router.replace("/");
          this.showSnackbar(this.$t("session.messages.sample_submitted"));
        }
      }
    }else{
      this.showSnackbar(this.$t("session.messages.err_sample_incomplete"));
    }

    this.setSampleLoading(false);
  }
}
</script>
