<template>
  <v-container fluid>
    <v-col>
      <p
          v-for="(item, index) in $t('start.intro')"
          :key="index"
          class="text-center text-body-2"
      >
        {{ item }}
      </p>
      <v-row justify="center">
        <v-btn color="primary" block v-on:click="startSampler" :disabled="$store.state.showLoading">
          {{ $t("start.buttons.create") }}
        </v-btn>
      </v-row>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {Action} from "vuex-class";

@Component
export default class Start extends Vue {

  @Action setLoading: any;

  async startSampler() {
    this.setLoading(true);
    const url = new URL("https://europe-west3-magicpainter-9b747.cloudfunctions.net/createSample");
    url.search = new URLSearchParams({
      symbolsVersion: this.$store.state.symbolsVersion,
    }).toString();

    const res = await fetch(url.toString(), {
      method: "GET"
    });

    if (res.status == 201) {
      const docID = (await res.json()).docID;
      await this.$router.push({path: 'sample', query: {id: docID}});
    } else {
      console.log(res);
    }
    this.setLoading(false);
  }
}
</script>
