<template>
  <v-container
      class="d-flex flex-wrap"
  >
    <SymbolPreview
        v-for="(_, index) in $store.state.symbols"
        :key="index"
        :symbol-index="index"
        class="ma-2"
    />
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SymbolPreview from "@/components/SymbolPreview.vue";

@Component({components: {SymbolPreview}})
export default class SymbolsOverview extends Vue {

}
</script>
