<template>
  <v-container>
    <v-col class="text-center">
      <p>{{ $t("app.desktop_warning") }}</p>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue"
import Component from "vue-class-component"

@Component
export default class DesktopWarning extends Vue {

  mounted() {
    this.$store.state.showAppBar = false;
  }
}
</script>

<style scoped>
* {
  white-space: pre-wrap;
}
</style>
