<template>
  <v-app-bar
      app
      color="primary"
      dark
      v-show="this.$store.state.showAppBar"
  >
    <div class="d-flex align-start">
      <v-btn
          icon
          v-show="$route.path !== '/'"
          v-on:click="$router.replace('/')">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
    </div>
    <v-toolbar-title>{{ $t("app.title") }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="d-flex align-end">
      <v-menu left bottom>
        <template v-slot:activator="{on, attrs}">
          <v-btn
              icon
              v-bind="attrs"
              v-on="on">
            {{$i18n.locale}} <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
              v-for="lang in $i18n.availableLocales"
              :key="lang"
              @click="updateCurrentLocale(lang)">
            <v-list-item-title>{{lang}}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class GlobalAppBar extends Vue {

  updateCurrentLocale(lang: string){
    this.$i18n.locale = lang;
  }
}
</script>

<style scoped>

</style>
