<template>
  <v-container fluid>
    <v-col>
      <v-row justify="center" class="mb-4">
        <SymbolPreview :symbol-index="sessionSymbolIndex"/>
      </v-row>
      <SketchPad :symbol-index="sessionSymbolIndex"/>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {Prop} from "vue-property-decorator";
import SketchPad from "@/components/SketchPad.vue";
import SymbolPreview from "@/components/SymbolPreview.vue";

@Component({
  components: {SketchPad, SymbolPreview}
})
export default class Sampler extends Vue {
  @Prop({default: -1, required: true})
  public sessionSymbolIndex!: number;
}
</script>
