<template>
  <v-sheet elevation="4">
    <v-col class="pa-0 ma-0">
      <v-row align="center" justify="end">
        <v-btn absolute fab small v-on:click="clearCanvas">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-row>
      <v-responsive id="canvas_bg" :aspect-ratio="1/1">
        <canvas ref="canvas"></canvas>
      </v-responsive>
    </v-col>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {Prop} from "vue-property-decorator";
import {SymbolTemplate} from "@/data/symbolTemplate";
import {Action, namespace} from "vuex-class";

const sessionMod = namespace("session");

@Component
export default class SketchPad extends Vue {
  @Prop({default: -1, required: true})
  public symbolIndex!: number;

  @Action showSnackbar: any;
  @sessionMod.Mutation setSampleLoading: any;
  @sessionMod.Mutation updateSketchData: any;
  @sessionMod.Action submitSketchData: any;
  @sessionMod.Action getSavedSampleData: any;

  private readonly symbol: SymbolTemplate;

  private isPainting = false;
  private clickX: number[] = [];
  private clickY: number[] = [];
  private clickDrag: boolean[] = [];

  constructor() {
    super();
    this.symbol = this.$store.state.symbols[this.symbolIndex];
  }

  private get canvas(): HTMLCanvasElement {
    return this.$refs["canvas"] as HTMLCanvasElement;
  }

  private get canvasOffsetTop(): number {
    return this.canvas.getBoundingClientRect().top;
  }

  private get canvasOffsetLeft(): number {
    return this.canvas.getBoundingClientRect().left;
  }

  private get context(): CanvasRenderingContext2D {
    let context: CanvasRenderingContext2D | null;
    if (!(context = this.canvas.getContext("2d"))) {
      throw new Error(`2d context not supported or canvas already initialized`);
    }
    return context;
  }

  mounted() {
    this.setupCanvas();
    this.redraw();
    this.setupUserEvents();
    this.loadSavedSketch();
  }

  private async loadSavedSketch() {
    this.setSampleLoading(true);
    const name = `${this.symbol.index}.${this.symbol.category}.${this.symbol.name}`;
    const res = await this.getSavedSampleData(name);
    if (res.status === 200) {
      const saved = await res.json();
      this.updateSketchData({
        sessionSymbolIndex: this.symbolIndex,
        symbol: this.symbol,
        canvasWidth: this.canvas.width,
        canvasHeight: this.canvas.height,
        data: saved.data,
      })
      const image = new Image(this.canvas.width, this.canvas.height);
      const ctx = this.context;
      image.onload = function () {
        ctx.drawImage(image, 0, 0);
      }
      image.src = saved.data;
    }
    this.setSampleLoading(false);
  }

  private setupCanvas() {
    this.canvas.width = this.canvas.parentElement?.clientWidth ?? 0;
    this.canvas.height = this.canvas.parentElement?.clientHeight ?? 0;

    this.context.lineCap = "round";
    this.context.lineJoin = "round";
    this.context.strokeStyle = "black";
    this.context.lineWidth = 15;
  }

  private redraw() {
    const clickX = this.clickX;
    const clickY = this.clickY;
    const clickDrag = this.clickDrag;
    const context = this.context;
    for (let i = 0; i < clickX.length; ++i) {
      context.beginPath();
      if (clickDrag[i] && i) {
        context.moveTo(clickX[i - 1], clickY[i - 1]);
      } else {
        context.moveTo(clickX[i] - 1, clickY[i]);
      }

      context.lineTo(clickX[i], clickY[i]);
      context.stroke();
    }
    context.closePath();
  }

  private setupUserEvents() {
    const canvas = this.canvas;
    canvas.addEventListener("mousedown", this.onPressEvent);
    canvas.addEventListener("mousemove", this.onDragEvent);
    canvas.addEventListener("mouseup", this.onReleaseEvent);
    canvas.addEventListener("mouseout", this.onCancelEvent);

    canvas.addEventListener("touchstart", this.onPressEvent);
    canvas.addEventListener("touchmove", this.onDragEvent);
    canvas.addEventListener("touchend", this.onReleaseEvent);
    canvas.addEventListener("touchcancel", this.onCancelEvent);
  }

  private onPressEvent = (e: MouseEvent | TouchEvent) => {
    let mouseX = (e as TouchEvent).changedTouches ?
        (e as TouchEvent).changedTouches[0].pageX :
        (e as MouseEvent).pageX;
    let mouseY = (e as TouchEvent).changedTouches ?
        (e as TouchEvent).changedTouches[0].pageY :
        (e as MouseEvent).pageY;
    mouseX -= this.canvas.offsetLeft;
    mouseY -= this.canvas.offsetTop;

    this.isPainting = true;
    this.addClick(mouseX - this.canvasOffsetLeft, mouseY - this.canvasOffsetTop, false);
    this.redraw();
  }

  private onDragEvent = (e: MouseEvent | TouchEvent) => {
    let mouseX = (e as TouchEvent).changedTouches ?
        (e as TouchEvent).changedTouches[0].pageX :
        (e as MouseEvent).pageX;
    let mouseY = (e as TouchEvent).changedTouches ?
        (e as TouchEvent).changedTouches[0].pageY :
        (e as MouseEvent).pageY;
    mouseX -= this.canvas.offsetLeft;
    mouseY -= this.canvas.offsetTop;

    if (this.isPainting) {
      this.addClick(mouseX - this.canvasOffsetLeft, mouseY - this.canvasOffsetTop, true);
      this.redraw();
    }

    e.preventDefault();
  }

  private onReleaseEvent = () => {
    this.isPainting = false;
    this.redraw();
    this.submit();
  }

  private onCancelEvent = () => {
    this.isPainting = false;
  }

  private onClearEvent = () => {
    this.clearCanvas();
  }

  private addClick(x: number, y: number, dragging: boolean) {
    this.clickX.push(x);
    this.clickY.push(y);
    this.clickDrag.push(dragging);
  }

  private async clearCanvas() {
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    this.clickX = [];
    this.clickY = [];
    this.clickDrag = [];
    this.$store.state.session.sketches[this.symbolIndex] = undefined;
  }

  private async submit() {
    const canvasData = this.canvas.toDataURL("image/png", 1.0);
    const res = await this.submitSketchData({
      sessionSymbolIndex: this.symbolIndex,
      symbol: this.symbol,
      canvasWidth: this.canvas.width,
      canvasHeight: this.canvas.height,
      data: canvasData,
    });
    if (res instanceof Response) {
      if (res.status !== 200) {
        this.showSnackbar(this.$t("sketchpad.messages.err_save_sketch"));
      }
    }
  }
}
</script>

<style scoped>
#canvas_bg {
  background: linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
  linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
  #f2f2f2;
  background-size: 10px 10px,
  10px 10px;
}
</style>
