<template>
  <svg ref="symbolSVG" :height="symbol.viewWidth.toString()" :width="symbol.viewHeight.toString()">
    <path
        v-for="(pathData, index) in symbol.paths"
        :key="index"
        :d="pathData"
        fill="#FFFFFF00"
        stroke="#000000"
        stroke-linecap="round"
        :stroke-width="$store.state.symbolProps.strokeWidth"
    />
  </svg>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {Prop} from "vue-property-decorator";
import {SymbolTemplate} from "@/data/symbolTemplate";

@Component
export default class SymbolPreview extends Vue {
  @Prop({default: -1, required: true})
  public symbolIndex!: number;

  private readonly symbol: SymbolTemplate;

  constructor() {
    super();
    this.symbol = this.$store.state.symbols[this.symbolIndex];
  }
}
</script>
